.navbar > * {
  margin: auto 0;
  grid-row: 1/2;
}
.navbar {
  width: 100%;
  display: grid;
  align-items: center;
  height: 4rem;
  grid-template-columns: 1fr 5fr 2fr 1fr;
  z-index: 100;
  background-color: rgb(253, 243, 243);
  position: fixed;
  top: 0;
  left: 0;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.icon {
  color: rgb(255, 255, 255);
}
.icon > * {
  font-size: 25px;
  background-color: rgb(32, 129, 226);
  border-radius: 25px;
  padding: 10px;
}
.logo span {
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0 10px;
}
.input {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0 10px;
  padding: 0;
  border: 2px solid rgb(131, 131, 131);
  height: 50%;
  width: 90%;
  border-radius: 10px;
  margin: auto auto;
}
.search,
.close {
  font-weight: 900;
  font-size: 20px;
  margin: auto 10px;
  color: rgb(131, 131, 131);
}
.input:hover {
  background-color: rgb(255, 255, 255);
  transition: ease-in;
}

.input input {
  outline: none;
  border: none;
  width: inherit;
  overflow: hidden;
  padding: 0;
  margin-right: 10px;
  background-color: inherit;
  color: rgb(131, 131, 131);
  font-family: century-gothic, sans-serif;
  font-size: 15px;
}
.input span {
  font-weight: 300;
  font-family: century-gothic, sans-serif;
  font-size: 20px;
}
.menu {
  grid-column: 3/4;
  margin: auto 0;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0 10px;
  padding: 0;
}
.menu ul li {
  margin: 0 10px;
}
.menu ul li a {
  font-weight: 700;
  font-family: century-gothic, sans-serif;
  font-size: 15px;
}
.extraMenu {
  grid-column: 4/5;
  margin: auto 0;
}
.extraMenu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0 10px;
  padding: 0;
}
.extraMenu ul li {
  margin: 0 10px;
}
.extraMenu ul li a > * {
  font-weight: 900;
  font-size: 30px;
  margin: 10px;
}
.hamburger,
.bigsearch {
  display: none;
}
@media (max-width: 1200px) {
  .input {
    grid-column: 2/4;
  }
  .menu {
    display: none;
  }
  .hamburger {
    display: contents;
  }
}

@media (max-width: 1000px) {
  .wallete,
  .profile {
    display: none;
  }
}
@media (max-width: 500px) {
  .wallete,
  .profile,
  .input {
    display: none;
  }
  .bigsearch {
    display: contents;
  }
}

.explorehover {
  width: 300px;
  position: absolute;
  border-radius: 10px;
  top: 4rem;
  z-index: inherit;
  grid-column: 3/4;
  background-color: #fff;
  display: none;
  overflow: scroll;
}

.exlporenav:hover .explorehover {
  display: block;
}
.explorehover:active {
  display: block;
}

.statshover {
  height: auto;
  width: 300px;
  position: absolute;
  border-radius: 10px;
  top: 4rem;
  z-index: inherit;
  grid-column: 3/4;
  background-color: #fff;
  display: none;
  overflow: hidden;
}

.statsnav:hover .statshover {
  display: block;
}
.statshover:active {
  display: block;
}

.resourceshover {
  height: fit-content;
  width: 300px;
  position: absolute;
  border-radius: 10px;
  top: 4rem;
  z-index: inherit;
  grid-column: 3/4;
  background-color: #fff;
  display: none;
  overflow: hidden;
}

.resourcesnav:hover .resourceshover {
  display: block;
}
.resourceshover:active {
  display: block;
}
