.cardWrapper {
  height: 500px;
  width: 500px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(70, 70, 70);
  position: relative;
}
.cardWrapper:hover .prebodyimage {
  transform: scale(1.2);
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.prebodyimage {
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.content {
  position: absolute;
  bottom: 0;
  margin: 15px;
  margin-right: 15px;
}
.content svg {
  color: rgb(0, 153, 255);
  height: 13px;
}
.name,
.price {
  font-family: century-gothic, sans-serif;
  color: white;
}
.name {
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 15px;
}
.price {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0px;
}
@media (max-width: 2000px) {
  .cardWrapper {
    height: 450px;
    width: 450px;
  }
}
@media (max-width: 1800px) {
  .cardWrapper {
    height: 425px;
    width: 425px;
  }
}
@media (max-width: 1700px) {
  .cardWrapper {
    height: 400px;
    width: 400px;
  }
}
@media (max-width: 1600px) {
  .cardWrapper {
    height: 375px;
    width: 375px;
  }
}
@media (max-width: 1500px) {
  .cardWrapper {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 1400px) {
  .cardWrapper {
    height: 325px;
    width: 325px;
  }
}
@media (max-width: 1300px) {
  .cardWrapper {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 1200px) {
  .cardWrapper {
    height: 275px;
    width: 275px;
  }
}
@media (max-width: 1100px) {
  .cardWrapper {
    height: 250px;
    width: 250px;
  }
}
@media (max-width: 1019px) {
  .cardWrapper {
    height: 325px;
    width: 325px;
  }
}
@media (max-width: 975px) {
  .cardWrapper {
    height: 310px;
    width: 310px;
  }
}
@media (max-width: 925px) {
  .cardWrapper {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 875px) {
  .cardWrapper {
    height: 275px;
    width: 275px;
  }
}
@media (max-width: 850px) {
  .cardWrapper {
    height: 260px;
    width: 260px;
  }
}
@media (max-width: 800px) {
  .cardWrapper {
    height: 250px;
    width: 250px;
  }
}
@media (max-width: 769px) {
  .cardWrapper {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 700px) {
  .cardWrapper {
    height: 325px;
    width: 325px;
  }
}
@media (max-width: 650px) {
  .cardWrapper {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 600px) {
  .cardWrapper {
    height: 275px;
    width: 275px;
  }
}
@media (max-width: 550px) {
  .cardWrapper {
    height: 250px;
    width: 250px;
  }
}
@media (max-width: 519px) {
  .cardWrapper {
    height: 400px;
    width: 400px;
  }
}
@media (max-width: 450px) {
  .cardWrapper {
    height: 375px;
    width: 375px;
  }
}
@media (max-width: 400px) {
  .cardWrapper {
    height: 350px;
    width: 350px;
  }
}
